<nav id="navigate" class="transition bg-clear pos-rel">
  <div id="nav-div" class="transition nav-wrapper">
    <a href="#" id="nav-logo" class="brand-logo center ghost">Modern</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li id="bottom-arrow" ng-click="go_to_footer()" title="go to footer"><i class="material-icons">arrow_downward</i></li>
      <li id="top-arrow" ng-click="back_to_top()" title="back to top"><i class="material-icons">arrow_upward</i></li>
    </ul>
    <ul class="side-nav" id="mobile-view">
      
    </ul>
  </div>
</nav>
